/**
 * @description Assigns equally blended color gradients to each corner of a box element.
 *
 * @param {string} $v0 - Top left color
 * @param {string} $v1 - Top right color
 * @param {string} $v2 - Bottom left color
 * @param {string} $v3 - Bottom right color
 * @mixin
 *
 * @example
 *
 * .quad {
 * 
 *     $size: 100vh;
 * 
 *     width: $size;
 *     height: $size;
 * 
 *     @include QuadVertexGradient(red, magenta, yellow, blue);
 * }
 *
 */
@mixin QuadVertexGradient($v0, $v1, $v2, $v3) {
  
    background: linear-gradient(to bottom, $v0, $v2);
  
    &::after {
  
        content: "";
        position: absolute;
        width: inherit;
        height: inherit;
        background: linear-gradient(to bottom, $v1, $v3);
        mask-image: linear-gradient(to left, white, transparent);
    }
}